.sign-form{
    border: 1px ;
    padding:100px;
    text-align: center;
}
.sign-div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-style: italic;
    font-size: larger;
    text-decoration-line: underline;
}
